<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-10T22:56:58Z</date>
		<key>actualSize</key>
		<integer>26035</integer>
		<key>attributeModDate</key>
		<date>2010-02-04T23:49:56Z</date>
		<key>createDate</key>
		<date>2010-02-01T06:47:33Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:23:58Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>CA5651F5-70B5-439E-9987-0801017690ED</string>
		<key>lastModifiedDate</key>
		<date>2010-02-01T06:47:34Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/images/pic2.jpg</string>
		<key>originalSize</key>
		<integer>26035</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>1298486113</integer>
				<key>fileType</key>
				<integer>1246774599</integer>
				<key>id</key>
				<string>E1402A9A-78F5-4FDF-8EF4-72165259903D</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
