<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-02-10T22:56:58Z</date>
		<key>actualSize</key>
		<integer>64395</integer>
		<key>attributeModDate</key>
		<date>2010-02-04T23:49:56Z</date>
		<key>createDate</key>
		<date>2010-02-01T06:45:59Z</date>
		<key>creationDate</key>
		<date>2010-02-11T20:23:58Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1EDDCFA4-D292-483A-9C31-BB3E910D2957</string>
		<key>lastModifiedDate</key>
		<date>2010-02-01T06:45:59Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/images/pic1.jpg</string>
		<key>originalSize</key>
		<integer>64395</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>1298486113</integer>
				<key>fileType</key>
				<integer>1246774599</integer>
				<key>id</key>
				<string>A04F1ED4-A24A-4647-862C-A58ABD6E78F3</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
