<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:54Z</date>
		<key>actualSize</key>
		<integer>22131</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:54Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DFDEBCA3-1C00-4EDD-9759-06EBF357796A</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/images/slides/dining-mirror.jpg</string>
		<key>originalSize</key>
		<integer>22131</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>5EC48A40-0E51-463D-BEFD-11FA12D215C2</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
