<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2009-10-16T18:15:54Z</date>
		<key>actualSize</key>
		<integer>32422</integer>
		<key>attributeModDate</key>
		<date>2009-10-16T18:15:54Z</date>
		<key>createDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>creationDate</key>
		<date>2009-10-31T02:11:33Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>217BDCA9-C907-495E-9DF2-AF511EDA1628</string>
		<key>lastModifiedDate</key>
		<date>2007-08-22T14:32:23Z</date>
		<key>originalPath</key>
		<string>/Volumes/Emergency/freelance/Artegan/web design/artegan/communities/locations/omak/images/slides/blowing-bubbles.jpg</string>
		<key>originalSize</key>
		<integer>32422</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>6120EA60-843D-479A-B6DD-22CCDAD4E1F4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>80</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
